.section-news {
    .card {
        .img-vert {
            height: 13.6875rem;
        }

        .img-vert-2 {
            height: 12.625rem;
        }
    }

    .news {
        .card-title {
            color: $body-color;
        }
    }
    
    .news-2 {
        .card-title {
            color: $body-color;
        }
    }
}

@include media-breakpoint-only (lg) {
    .section-news {
        .card {
            .img-vert-2 {
                height: 18.75rem;
            }
        }
    }
}

@include media-breakpoint-down (md) {
    .section-news {
        .card {
            .img-vert {
                height: auto;
            }

            .img-vert-2 {
                height: auto;
            }
        }
    }
}