.news_2 {
    .bg-dark1 {
        background-color: #27394B;
    }
    
    .bg-dark2 {
        background-color: #213243;
    }

    .media {

        img {
            max-width: 28rem;
        }

        .media-body {
            color: #F5F5F5;

            .h6 {
                color: #F5F5F5;
                font-size: 1.0625rem;
            }

            .media-text {
                color: #B1B1B1;
            }
        }

        &:hover {
            &.bg-dark1, &.bg-dark2 {
                background-color: $light;
            }
            
            .media-body {
                color: #424242;

                .media-text {
                    color: #707070;
                }
            }
        }
    }

    .vert {
        &:hover {
            .bg-dark1, .bg-dark2 {
                background-color: $light;
            }
            
            .card-body {
                .card-title {
                    color: #424242;
                }

                .card-text {
                    color: #707070;
                }
            }
        }

        .card-body {
            color: white;

            .card-title {
                color: #F5F5F5;
            }

            .card-text {
                color: #B1B1B1;
            }
        }
    }

    .d-lg-none {
        .card-title {
            font-size: 17px;
        }
    }
}