.section-slide {
    .carousel-indicators {
        li {
            border-radius: 100%;
            margin-right: 1rem;
            height: 13px;
            width: 13px;
        }

        .active {
            background-color: #343434;
        }
    }

    .carousel-inner {
        // height: 35rem;
        // height: 78vh; //68vh
    }
}

.sponsors {
    .flickity-button {
        background: none;

        &:hover {
            background: none;
        }
    }

    .flickity-prev-next-button.previous {
        left: -40px;
    }

    .flickity-prev-next-button.next {
        right: -40px;
    }

    .img-slide {
        border: 1px solid #B1B1B1;
        height: 10.625rem;
        width: 10.625rem;
    }
}

@include media-breakpoint-down (md) {
    .section-slide {
        .carousel-inner {
            height: auto;
        }
    }
}

@include media-breakpoint-only (xs) {
    .sponsors {
        .flickity-button {
            background: $light;
    
            &:hover {
                background: $light;
            }
        }

        .flickity-prev-next-button.previous {
            left: 10px;
        }

        .flickity-prev-next-button.next {
            right: 10px;
        }
    }
}