.content {
    h2 {
        font-size: 2.1875rem;
        color: #2D2D2D;
    }

    p {
        word-break: break-word;
        img {
            height: auto !important;
            max-width: 100% !important;
            width: auto !important;
        }
    }

    .text-body {
        p {
            font-size: 15px;
        }
        
        table {
            img {
                width: 100%;
            }
        }
    }
    
    .border-dark {
        border-bottom: 2px solid;
    }

    .card {
        .card-body {
            .card-title {
                color: #424242;
            }

            .card-text {
                color: #707070;
            }
        }
    }

    .sidebar {
        font-size: 0.9375rem;
        
        .list-unstyled {
            li {
                margin: 10px auto;
            }
        }

        a {
            color: $body-color;

            &:hover {
                color: $yellow;
            }
        }
    }
}