
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Colors
// $red: #e3342f;
$red: #ee2c39;

$base: #636b6f;

$nav-pills-link-active-color: $red;
$nav-pills-link-active-bg: rgba(#fff, 0.8) !default;
$link-color: $red;

$pagination-active-bg: $red;
