@import 'web/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import '~flickity/dist/flickity.min.css';
@import "~toastr/toastr";
@import '~animate.css/animate';

// *SASS File*
@import 'web/navbar';
@import 'web/footer';
@import 'fontweight';

// Components
// @import 'web/components/animation';

// Home
@import 'web/home/slideshow';
@import 'web/home/news';
@import 'web/home/news_2';

// Category
@import 'web/category/overview';
@import 'web/category/categories';

// Content
@import 'web/content/content';

@font-face{
    font-family: 'Roboto';
    src:url(fonts/Roboto/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src:url(fonts/Roboto/Roboto-LightItalic.ttf) format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Roboto';
    src:url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src:url(fonts/Roboto/Roboto-RegularItalic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Roboto';
    src:url(fonts/Roboto/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src:url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Roboto';
    src:url(fonts/Roboto/Roboto-BoldItalic.ttf) format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Roboto';
    src:url(fonts/Roboto/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: $body-bg;
}

.container {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.bg-center {
    background-position: center;
}

.bg-cover {
    background-size: cover;
}

.bg-overlay {
    background-color: rgba($dark, 0.8);
}

.bg-overview {
    background-color: #33475B;
}

.header {
    position: relative;
    height: 91vh;
}

.font35px {
    font-size: 2.1875rem;
}

h2 {
    font-size: 1.5625rem;
}

h3 {
    font-size: 1.125rem;
}

h4 {
    font-size: 0.9375rem;
}

h5 {
    font-size: 0.875rem;
}

small {
    font-size: 0.75rem;
}

a:hover {
    text-decoration: none;
}

// Contact Page
.map {
    height: 470px;
    min-width: 100%;
}
// End Contact Page