// SECTION NAVBAR
.sticky-top {
    .text-center {
        h4 {
            display: none;
        }
    
        h2 {
            font-size: 1.875rem;
        }
    }
    
    a {
        .navbar-brand {
            height: 59px;
        }
    }
}

.navbar-top {
    height: 3rem;
    background-color: #F8F9FA;
    ul {
        font-size: 1.125rem;
        .login {
            font-size: 13px;
        }
    }
}

.navbar-bot {
    font-size: 0.9375rem;
    
    .yellow {
        color: $yellow;
    }

    .logo-bot {
        .navbar-brand {
            img {
                height: 35px;
            }
        }
    }
    
    &.sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 59px;
        z-index: 1020;
    }

    .dropdown-item {
        font-size: 0.9375rem;
    }
}

.navbar {
    img {
        height: 65px;
    }

    h2 {
        font-size: 35px;
    }

    h4 {
        font-size: 25px;
    }
}

@include media-breakpoint-up (xl) {
    .navbar-bot {
        .navbar-nav .nav-item:first-child {
            margin-left: 0 !important;
        }

        .dropdown-menu.bg-dark {
            background-color: #364b61 !important;
        }
    }

    ul {
        .nav-item {
            padding-bottom: 0.8125rem;
            border-bottom: 3px solid transparent;
            &:hover,
            &.active {
                border-bottom: 3px solid $yellow;
            }

            &:hover .nav-link {
                color: $yellow;
            }
        }

        .nav-item.dropdown:hover {
            border-bottom: 0;
        }

        .dropdown:hover .dropdown-menu {
            border-radius: 0;
            display: block;
            margin-top: 0px;
        }
    }
}

@include media-breakpoint-down (lg) {
    .navbar-bot {
        &.sticky-top {
            position: -webkit-sticky;
            position: sticky;
            top: 0px;
            z-index: 1020;
        }
    }
}