// Body
$body-bg: #ffffff;
// $gray-bg: #E5E5E5;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
// $font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$light: #F5F5F5 !default;
$dark: #2E4053 !default;
$body-color: #424242 !default;

$yellow: #EC9128;
// $red: #E81515;
// $cyan: #00A99D;

$text-muted: #b2b2b2 !default;
// $light: #E5E5E5 !default;

$navbar-dark-hover-color: rgba($yellow, 1) !default;
$navbar-dark-color: rgba(white, 1) !default;
$navbar-dark-active-color: $yellow !default;

$dropdown-link-color: white !default;
$dropdown-link-hover-color: rgba($yellow, 1) !default;

// $grid-gutter-width: 15px !default;