.categories {
    .sidebar {
        font-size: 0.9375rem;
        
        .list-unstyled {
            li {
                margin: 10px auto;
            }
        }

        a {
            color: $body-color;

            &:hover {
                color: $yellow;
            }
        }
    }

    .media {

        img {
            max-width:15rem;
        }

        h6 {
            font-size: 18px;
        }
    }

    .page-link {
        color: #707070;
        height: 35px;
        width: 43px;
    }

    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: $dark;
        border-color: $dark;
    }
}

@include media-breakpoint-down (sm) {
    .categories {
        .media {
            img {
                max-width:10rem;
            }
        }
    }
}

@include media-breakpoint-only (xs) {
    .categories {
        .card {
            .img-horz {
                height: 5.5rem;
            }
        }
    }
}