.overview-2 {
    .card {
        &:hover {
            .bg-dark2 {
                background-color: $light;
            }
            
            .card-body {
                .card-title {
                    color: #424242;
                }

                .card-text {
                    color: #707070;
                }
            }
        }

        .bg-dark2 {
            background-color: #2E4053;
        }

        .card-body {
            color: white;
            min-height: 8.0625rem;

            .card-title {
                color: #F5F5F5;
            }

            .card-text {
                color: #B1B1B1;
            }
        }
    }

    .img-vert {
        height: 28rem;
    }

    .img-vert-2 {
        height: 14rem;
    }

    .horz {
        .card-body {
            min-height: 7.2rem;
        }
    }

    .vert-2 {
        .card-body {
            min-height: 7.65rem;
        }
    }
}

@include media-breakpoint-down (md) {
    .overview-2 {
        .img-vert {
            height: auto;
        }

        .img-vert-2 {
            height: auto;
        }

        // .horz {
        //     height: 12rem;
        // }
    }
}

@include media-breakpoint-only (lg) {
    .overview-2 {
        .card {
            .card-body {
                min-height: 9.625rem;
            }
        }
    }
}